body {
    background : linear-gradient(-45deg, #d90368, #cd0036, #ff5400, #ffbd00);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    animation: change 15s ease-in-out infinite;
}

h1 {
    border: 3px solid #fff;
    top: 50%;
    left: 50%;
    height: 5em;
    width: 15em;
    transform: translate(11%, -7%);
    padding: 3.5rem 3.5rem;
    box-shadow: 0 6px 15px #3d011d;
}

.btn {
    border: 1px solid #fff;
    color: antiquewhite;
    font-size: 18px;
    font-weight: bolder;
    box-shadow: 0 3px 3px #3d011d;
    height: 55px;
    width: 10em;
    padding: 1rem 2rem;
    margin-right: 0.5rem;
    margin-left: 2.5rem;
}

.form-control {
    width: 38em;
    transform: translate(10.2%, -7%);

}

.btn:hover {
    background: antiquewhite;
    color: #220901;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}